<!doctype html>
<html lang="en" class="uk-background-primary uk-background-cover">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/uikit-3.18.3.css">

  <link rel="stylesheet" href="/css/baedge.css">
  <title>{{ title }}</title>
</head>

<body>

  <header class="uk-background-secondary uk-light uk-height-1-1">
    <h1 class="uk-h1 uk-padding-small">
      {{ title }} &mdash; {{ description }}
    </h1>
  </header>

  <main class="uk-container">
    <div class="uk-section-xsmall">
      {% for method in routes %}

      {% if method == "GET" %}
      <div class="uk-label">Status</div>
      {% elif method == "POST" %}
      <span class="uk-label uk-label-warning">Device</span>
      {% endif %}

      {% for route in routes[method] %}
      <button
        class="uk-button"
        hx-{{ method }}="{{ route }}"
        hx-swap="innerHTML"
        hx-target="#receiver"
        hx-trigger="click"
      >{{ route | trim(prefix) }}</button>
      {% endfor %}
      {% endfor %}
    </div>

    <div class="uk-alert">
      <h2>
        API Response
        <span class="uk-align-right uk-label">Status: <span id="response-status">n/a</span></span>
      </h2>

      <div class="uk-height-large uk-placeholder uk-panel-scrollable" id="receiver">Pending&hellip;</div>
    </div>
  </main>

  <footer class="uk-background-secondary uk-light uk-padding-small uk-position-bottom">
    <span class="uk-align-left">
      <a href="/"><img alt="{{ title }} &mdash; {{ description }}" id="footer-icon" src="/images/logo.png" title="{{ title }} &mdash; {{ description }}"></a>
    </span>

    <span class="uk-align-right">Made with ❤️ by <a href="https://workloads.io/">Workloads</a>.</span>
  </footer>

  <script src="/js/htmx-1.9.10.js" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
</body>
</html>
