<!doctype html>
<html lang=en>
<head>
  <meta charset=utf-8>
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <title>{{ title }}</title>
</head>
<body>
  <section class="hero container center text-center full-screen">
    <div>
      <img src="{{ logo_path }}" alt="{{ logo_alt_text }}" title="{{ logo_alt_text }}" height="125">
      <h3>{{ title }}</h3>
      <h5>{{ description }}</h5>
    </div>
  </section>

  <footer class="text-center">
    <a href="https://github.com/workloads/baedge-server" title="{Ba,E}dge GitHub Project">{Ba,E}dge</a>, made with ❤️ by <a href="https://workloads.io/">Workloads</a>.
  </footer>
</body>
</html>
